<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">마이 페이지</a>
      </li>
      <li><a href="/mypage/wish_book_list">내 서재</a></li>
        <ul>
          <li><a href="/mypage/wish_book_list">희망 도서 신청 내역</a></li>
          <li><a href="/mypage/reservation_list">예약 현황</a></li>
          <li><a href="/mypage/interest_book_list">관심 목록</a></li>
        </ul>
      <li><a href="/mypage/user_history">나의 대출 목록</a></li>
      <li><a href="/mypage/my_info_update_form">회원 정보 수정</a></li>
      <li><a href="/book/wish_book_form">희망 도서 신청</a></li>
    </ul>
  </body>
</html>
