<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
      $(document).ready(function(){
          $("#header").load("/include/header.ejs")
      });
    </script>
  </head>
    <body>
      <div id="header"></div>
      <div class="container">
        <h2 align="center">회원가입 환영합니다!</h2>
       <form action="/user/join" method="post">
             <div class="form-group">
                <label>아이디</label>
                <input type="text" class="form-control"
                    name="user_id"/>
             </div>
             <div class="form-group">
                <label>비밀번호</label>
                <input type="password" class="form-control"
                    name="password"/>
             </div>
             <div class="form-group">
                <label>이름</label>
                <input type="text" class="form-control"
                    name="name"/>
             </div>
             <div class="form-group">
                <label>생년월일</label>
                <input type="text" class="form-control"
                    name="birthdate"/>
             </div>
             <div class="form-group" align="center">
                <label>성별</label>
                <input type="radio" name="gender" value="1" checked="checked">M
                <input type="radio" name="gender" value="0">F
             </div>
             <div class="form-group">
                <label>이메일</label>
                <input type="email" class="form-control"
                    name="email"/>
             </div>
             <div class="form-group" align="center">
                <input type="submit" class="btn btn-info btn-block" value="가입">
             </div>
       </form>
      </div>
  </body>
</html>
