<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script>
      if('<%=results %>' == ''){
        alert('이미 관심 등록된 책입니다.');
      }else {
        alert('관심목록에 등록 되었습니다.');
      }
      location.href = '/mypage/interest_book_list';
    </script>
  </head>
  <body>

  </body>
</html>
