<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script>
      if('<%=results %>' == ''){
        alert('이미 예약된 책입니다.');
      }else {
        alert('예약되었습니다.');
      }
      location.href = '/mypage/reservation_list';
    </script>
  </head>
  <body>
  </body>
</html>
