<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Page</title>
    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
      $(document).ready(function(){
          $("#header").load("/include/header.html")
      });
    </script>
  </head>
    <body>
      <div id="header"></div>
      <table class = "table">
        <% results.forEach(function(results){ %>
        <tr>
          <td><%= results.user_id %></td>
        </tr>
        <% }); %>
      </table>
  </body>
</html>
