<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My Page</title>
  <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
  <script>
    $(document).ready(function() {
      $("#header").load("/include/header.ejs");
      $("#sidebar-wrapper").load("/include/sideMypage.ejs");
      $("#search").load("/include/search.ejs");
    });

    function delete_wish_list(wish_no) {
      alert('희망 도서 신청을 취소하시겠습니까?');
      location.href = '/mypage/delete_wish_list?wish_no=' + wish_no;
    }
  </script>
</head>

<body>
  <div id="header"></div>
  <div class="container">
    <div id="search"></div>
  </div>
  <div id="page-wrapper">
    <div id="sidebar-wrapper"></div>
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <h1>MY 희망 도서 신청 내역</h1>
        <hr/>
        <table class="table">
          <th>신청 번호</th>
          <th>신청 내용</th>
          <th></th>
          <%
            if(wish_results.length > 0){
              for(var i = 0; i < wish_results.length; i++){
            %>
            <tr>
              <td>
                <%= wish_results[i].wish_no %>
              </td>
              <td>
                <%= wish_results[i].wish_content %>
              </td>
              <td>
                <button class="btn btn-danger" type="button" onclick="javascript:delete_wish_list('<%=wish_results[i].wish_no%>');">
                  신청 취소
                </button>
              </td>
            </tr>
            <%
          }
              } else { %>
              <tr align="center">
                <td colspan="7">신청 내역이 존재하지 않습니다.</td>
              </tr>
              <% } %>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
